{% extends 'base.html' %}
{% block body %}
<div class='container'>
    <div class='page-header'><h1>最新公司</h1></div>
    <!-- 最新公司行 -->
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail job-item text-center">
                <img src="https://www.lgstatic.com/thumbnail_160x160/i/image3/M00/01/87/CgpOIFpcSdWAJlEyAAAhK1dS3rs937.JPG" class='com-logo'>
                <p><a href="">央视国际视频通讯有限公司</a></p>
                <p class='requ'>文化娱乐 /不需要融资</p>
                <p>“向世界传播中国，向世界报道世界”</p>
                <hr>
                <div class="caption text-center">
                    <div class='sim-profile'>
                        <a href=""><span style="color: #009688">32</span><br>在招职位</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer class="footer navbar-fixed-bottom">
    <div class="container text-center">
        © Copyright 2018 by JobPlus
    </div>
</footer>
{% endblock %}
