{% extends 'base.html' %}
{% block body %}
<div class='container'>
    <!-- 职位列表 -->
    <div class='page-header'><h1>最新职位</h1></div>
    <div class='container job-list'>
        <div class='job-info'>
            <h4><a href="">后端工程师</a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #fa6041;font-size:16px;">20-40K</span></h4>
            <span class='requ'>经验3-5年 /本科</span><br><br>
            <p class='requ' style="font-size:12px;">发布于 12月26日</p>
        </div>
        <div class='float-right'><img src="https://www.lgstatic.com/thumbnail_160x160/i/image3/M00/01/87/CgpOIFpcSdWAJlEyAAAhK1dS3rs937.JPG" class='com-logo'></div>
        <div class='com-info text-center'>
            <h4><a href="">北京桃花谷文化艺术公司</a></h4>
            <span class='requ'>文化娱乐/天使轮/北京</span><br><br>
            <p>“向世界传播中国，向世界报道世界”</p>
        </div>
    </div>
</div>
{% endblock %}
