{% extends 'base.html' %}
{% from "macros.html" import render_pagination %}
{% block body %}
<div class='container'>
    <!-- 职位列表 -->
    <div class='page-header'><h1>最新职位</h1></div>
    {% for job in pagination.items %}
    <div class='container job-list'>
        <div class='job-info'>
            <h4><a href="">{{ job.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #fa6041;font-size:16px;">{{ job.salary }}</span></h4>
            <span class='requ'>{{ job.experience }} / {{ job.degree }}</span><br><br>
            <p class='requ' style="font-size:12px;">发布于 {{ job.updated_at.strftime('%H:%m') }}</p>
        </div>
        <div class='float-right'><img src="{{ job.company.logo_url }}" class='com-logo'></div>
        <div class='com-info text-center'>
            <h4><a href="">{{ job.company.name }}</a></h4>
            <span class='requ'>{{ job.location }}</span><br><br>
            <p>{{ job.company.intro }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{{ render_pagination(pagination, 'job.index') }}
{% endblock %}
